
      @import url('https://fonts.googleapis.com/css?family=Bellota&display=swap');
      /* reset de pagina/propriedades */
       
@import url(../fontes/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf);
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body{
          background-color: #efefef;
          /* font-family: 'Bellota', cursive;
          font-family: cursive; */
          font-family: 'Playfair Display SC', serif;

          font-weight: 100;
          color: #858585;
      }
      
      #cabecalho {
        background-color: gray;
        color: white;
        padding-right: 10%;
        padding-left: 10%;
      }

      h1 {
        display: inline-block;
        /* border: 1px solid white; */
        width: 15%;
        height: 40px;
      }

      #menu {
        width: 80%;
        text-align: right;
        display: inline-block;
      }

      a {
        display: inline-block;
        
        padding-right: 10px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        
        color: white;
        text-decoration: none;
        /* border: 1px solid white; */
      }
      #corpo-documento {
          width: 80%;
          margin-left: 10%;
          margin-right: 10%;
          margin-top: 20px;

      }
       #conteudo {
           display: inline-block;
           margin-right: -4px;
           width: 70%;
           vertical-align: top;
           background-color: white;
           color: grey;
       }
       #conteudo h2 {
           padding-left: 20px;
           padding-right: 20px;
       }
       #conteudo p {
           padding-left: 10px;
           padding-right: 20px;
           margin-top: 20px;
           /* font-family: sans-serif; */
       }

       #barra-lateral {
           display: inline-block;
           margin-right: -4px;
           margin-left: 3%;
           width: 27%;
           vertical-align: top;
           height: 100%;
          
       }
       #lapis {
           width: 100%;
           padding-bottom: 10px;

       }
       .box-side {
         margin-bottom: 20px;
         background-color: white;
         padding-bottom: 20px;
       }

             
       .box-side h3{
         text-align: center;
         text-transform: uppercase;
         font-weight: 200;
         margin-bottom: 20px;
         padding-top: 10px;
         padding-bottom: 10px;
         font-size: 16px;
         border-bottom: 1px solid grey;

       }

       .box-side input {
        height: 25px;
        width: 130px;
        margin-left: 10px;
        border: 1px solid #efefef;

       }

       .box-side button {
        height: 30px;
        width: 70px;
        background-color: #727272;
        color:white;
        margin-left: 10px;
        border: 1px solid #efefef;

       }
      
         .box-side ul li{
           margin-bottom: 10px;
          margin-right: 10px;
          margin-left: 20px;
          font-size: 14px;
         }     

         .box-side p {
         padding-left: 15px;
         padding-right: 15px;
         line-height: 25px;
         text-align: center;
         }

         .box-side #email-novidade {
           width: 100%;
           margin-left: 0;
         }


   